/*!
 *  Font Awesome v4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
 @import url('//use.fontawesome.com/releases/v4.7.0/css/font-awesome-css.min.css');
 /* FONT PATH
  * -------------------------- */
 @font-face {
   font-family: 'FontAwesome';
   src: url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.eot');
   src: url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
        url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'),
        url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.woff') format('woff'),
        url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.ttf') format('truetype'),
        url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
   font-weight: normal;
   font-style: normal;
 }
 /*
 Embed code 2c3b2f6f61
 */